<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
</head>

<nav th:replace="layouts :: navbar"> </nav>
<body>
	<div>
		<hd> Current Dogs </hd>
		<table>
			<thead>
				<tr>
					<th>Dog Name</th>
					<th>Dog Color</th>
					<th>Dog Vaccination </th>
				</tr>	
			</thead>
				<tbody>
					<tr th:each="aDog: ${dogs}">
						<td th:text="${aDog.dogName}" />
						<td th:text="${aDog.dogColor}" />
					</tr>	
				</tbody>
		</table>
	</div>
</body>

</html>